<mat-toolbar color="primary" class="app-toolbar">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a routerLink="/home">
      <img src="{{ logoUrl }}" height="40" alt="CoolBrand" />
    </a>
  </div>
  <div  fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <li>
        <a class="nav-header" routerLink="/home">Home</a>
      </li>
      <li>
        <a class="nav-header" routerLink="/about-us">About Us</a>
      </li>
      <li>
        <a class="nav-header" routerLink="/contact-us">Contact Us</a>
      </li>
    </ul>
  </div>
</mat-toolbar>
